/* Sets up the general styling all elements will use */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* Sets up the general styling all body elements will use */
body {
  min-height: 100vh;
  background: url("background.png") no-repeat;
  background-size: cover;
  background-position: center;
}

/* Sets up part of the styling used in the navbar */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background-color: rgba(218, 165, 32, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

/* Sets up part of the styling used in the the name/logo of the website (top-left) */
.title {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

/* Sets up styling for the anchor elements of the navbar (the three main submenus) */
.navbar a {
  position: relative;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

/* Styling used for all the submenus (particularly the ones that result from using the navbar) */
.container {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(218, 165, 32, 0.7);
  border-radius: 15px;
  padding: 30px;
  width: 500px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}

/* Removes any styling associated with an ordered list */
.container ol {
  list-style: none;
  padding-left: 0;
}

/* Makes the text white for the submenus */
.container a {
  color: #fff;
  text-decoration: none;
}

/* Adds some space on the bottom of each list item */
.container li {
  margin-bottom: 10px;
}

/* Generally same styling as the submenus but for the buttons in the Filter Recipes and the More Statistical Queries sections */
.container-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Styles list of buttons in the More Statistical Queries section */
.container-buttons ol {
  list-style: none;
  padding-left: 0;
}

/* Styles the submit button in the Filter Recipes and More Statistical Queries sections */
.container-buttons button {
  border: none;
  background-color: rgba(218, 165, 32, 0.7);
  color: #fff;
  padding: 10px 22px;
  text-decoration: none;
  font-size: 24px;
  display: inline-block;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 10px;
}

/* Styles the dropdown menu label for the filterable columns */
.dropdown-label {
  position: absolute;
  top: 20%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 18px;
}

/* Styles the dropdown menu for the filterable columns */
.dropdown {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  background-color: rgba(218, 165, 32, 0.7);
  border-radius: 15px;
  padding: 5px;
  border-color: #fff;
}

/* Styles the resulting text when you add a tuple to the database (Change Recipes section) */
.result {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 25px;
}

/* Styles the label for the dropdown menu for the comparison operators */
.dropdown-label-comp {
  position: absolute;
  top: 26%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 18px;
}

/* Styles the dropdown menu for the comparison operators */
.dropdown-comp {
  position: absolute;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  background-color: rgba(218, 165, 32, 0.7);
  border-radius: 15px;
  padding: 5px;
  border-color: #fff;
}

/* Styling for the text input sections when filtering recipes */
.rec-input {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(218, 165, 32, 0.7);
  border-radius: 15px;
  padding: 5px;
  border-color: #fff;
  color: #fff;
}

.rec-input::placeholder {
  color: #fff;
}

/* Styles the scrollable sections for the results of the Filter Recipes section */
.scrollable-text {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  overflow-y: auto;
  width: 750px;
  max-height: 200px;
  border: 1px solid #fff;
  padding: 10px;
  background-color: rgba(218, 165, 32, 0.7);
  color: #fff;
}

/* Styles the scrollable sections for the results of the View Recipes and their Authors, Ingredients, or both*/
.scrollable-text-center {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  overflow-y: auto;
  width: 1100px;
  max-height: 500px;
  border: 1px solid #fff;
  padding: 10px;
  background-color: rgba(218, 165, 32, 0.7);
  color: #fff;
}

/* Styling for the text displayed when a user forgets to input something or doesn't input a number */
.invalid {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 18px;
  color: #fff;
}

/* Styling for the text input sections of the Add Recipe page */
.input-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(218, 165, 32, 0.7);
  border-radius: 15px;
  padding: 20px;
  color: #fff;
  font-size: 18px;
}

.input-container input {
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 15px;
  padding: 5px;
}

/* Styling for the submit button in the Add Recipe page */
.submit-button button {
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background-color: rgba(218, 165, 32, 0.7);
  color: #fff;
  padding: 10px 22px;
  text-decoration: none;
  font-size: 24px;
  display: inline-block;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 10px;
}

/* These are for styling the ingredients list when adding a recipe */
.checkbox-label-ingred {
  position: absolute;
  top: 26%;
  left: 75%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.checkbox-ingred {
  position: absolute;
  top: 60%;
  left: 75%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: #fff;
  background-color: rgba(218, 165, 32, 0.7);
  border-radius: 15px;
  padding: 5px;
  border: 1px solid;
  border-color: #fff;
}

/* Styling the authors list when adding a recipe */
.dropdown-label-author {
  position: absolute;
  top: 26%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.dropdown-author {
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  background-color: rgba(218, 165, 32, 0.7);
  border-radius: 15px;
  padding: 5px;
  border-color: #fff;
}

/* Styling for a successful recipe addition message */
.successful-submission {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 24px;
}
