<!-- File represents the Add Ingredient page of the website -->
{% extends 'base.html' %}

<!-- Set the title of the page -->
{% block title %}Your Recipes{% endblock %}

<!-- Start of content definition -->
{% block content %}
<form method="POST" action="/add_ingred_submission">
  <!-- List columns to edit (Name, Description, Average Cost, Shelf Life) -->
  <div class="input-container">
    <ul style="list-style-type: none; padding: 0">
      <li>
        {% for col in cols %}
        <p>Input {{ col }}</p>
        <input type="text" name="{{ col }}" placeholder="type here..." />
        {% endfor %}
      </li>
    </ul>
  </div>
  <!-- Add a submit button -->
  <div class="submit-button" height="80%">
    <button type="submit" size="10">Submit</button>
  </div>
</form>
{% endblock %}
