{% extends 'base.html' %}

<!-- Set the title of the page -->
{% block title %}Your Recipes{% endblock %}

<!-- Start of content definition -->
{% block content %}
<form method="POST" action="/add_rec_submission">
  <!-- List columns to edit (Name, Description, Avg_Cost, Difficulty, Calories) -->
  <div class="input-container">
    <ul style="list-style-type: none; padding: 0">
      <li>
        {% for col in cols %}
        <p>Input {{ col }}</p>
        <input type="text" name="{{ col }}" placeholder="type here..." />
        {% endfor %}
      </li>
    </ul>
  </div>

  <!-- List Authors to attribute it to -->
  <label class="dropdown-label-author">Choose an author for the recipe: </label>
  <select class="dropdown-author" name="author">
    {% for author in authors %}
    <option value="{{ author[0] }}">{{ author[1] }} {{ author[2] }}</option>
    {% endfor %}
  </select>

  <!-- List Ingredients they can use -->
  <label class="checkbox-label-ingred"
    >Choose ingredients for the recipe:</label
  >
  <div class="checkbox-ingred">
    {% for ingred in ingreds %}
    <div>
      <input type="checkbox" name="ingreds" value="{{ ingred[0] }}" />
      <label>{{ ingred[1] }}</label>
    </div>
    {% endfor %}
  </div>

  <!-- Add a submit button -->
  <div class="submit-button" height="80%">
    <button type="submit" size="10">Submit</button>
  </div>
</form>
{% endblock %}
