{% extends 'base.html' %}

<!-- Set the title of the page -->
{% block title %}Change a Recipe{% endblock %}

<!-- Start of content definition -->
{% block content %}

<div class="container">
  <!-- The menu of choices dealing with recipes -->
  <ol>
    <li><a href="/add_recipe">Add Recipe</a></li>
    <li><a href="/add_author">Add Author</a></li>
    <li><a href="/add_ingredient">Add Ingredient</a></li>
    <li><a href="#">Remove Recipe</a></li>
    <li><a href="#">Remove Author</a></li>
    <li><a href="#">Remove Ingredient</a></li>
    <li><a href="#">Modify Recipe</a></li>
    <li><a href="#">Modify Author</a></li>
    <li><a href="#">Modify Ingredient</a></li>
  </ol>
</div>

{% endblock %}
