{% extends 'base.html' %}

<!-- Set the title of the page -->
{% block title %}Your Recipes{% endblock %}

<!-- Start of content definition -->
{% block content %}

<!-- Let the user pick from a dropdown and give associated where clause -->
<form method="POST" action="/where_query">
  <!-- Have the user choose what column to use -->
  <label class="dropdown-label">Choose a column to work with:</label>

  <select class="dropdown" name="selected_column" onchange="this.form.submit()">
    {% for col in cols %}
    <option value="{{ col }}">{{ col }}</option>
    {% endfor %}
  </select>
</form>

<!-- If the selected column is numeric -->
{% if text == False %}
<form method="POST" action="/where_query">
  <!-- Include the previously selected column as a hidden input -->
  <label class="dropdown-label-comp">Choose any filters:</label>
  <select class="dropdown-comp" name="selected_comp">
    {% for comp in comps %}
    <option value="{{ comp }}">{{ comp }}</option>
    {% endfor %}
  </select>

  <!-- Get the user's input (check for numeric) -->
  <input
    type="text"
    class="rec-input"
    name="num-val"
    placeholder="value to check against"
  />
  <div class="container-buttons">
    <button type="submit" size="10">Submit</button>
  </div>
</form>

<!-- Display results of query-->
{% if scroll_text and not_num == False %}
<div class="scrollable-text">
  {% for text in scroll_text %}
  <p style="margin-bottom: 20px">{{ text }}</p>
  {% endfor %}
</div>

<!-- Give error message if user did not input a valid number-->
{% endif %} {% if not_num == True %}
<p class="invalid">Invalid Text, Please Submit Again</p>
{% endif %} {% endif %}

<!-- If the selected column is a TEXT column -->
{% if text == True %}
<form method="POST" action="/where_query">
  <!-- Include the previously selected column as a hidden input -->
  <label class="dropdown-label-comp">Choose any filters:</label>
  <select class="dropdown-comp" name="selected_t_comp">
    {% for comp in t_comps %}
    <option value="{{ comp }}">{{ comp }}</option>
    {% endfor %}
  </select>

  <!-- Get the user's input (no need to check for correct value, text could technically be anything )-->
  <input
    type="text"
    class="rec-input"
    name="text-val"
    placeholder="value to check against"
  />
  <div class="container-buttons">
    <button type="submit" size="10">Submit</button>
  </div>
</form>

<!-- Display results of query-->
{% if scroll_text%}
<div class="scrollable-text">
  {% for text in scroll_text %}
  <p style="margin-bottom: 20px">{{ text }}</p>
  {% endfor %}
</div>
{% endif %} {% endif %} {% endblock %}
