{% extends 'base.html' %}

<!-- Set the title of the page -->
{% block title %}Your Recipes{% endblock %}

<!-- Start of content definition -->
{% block content %}

<div class="container">
  <!-- The menu of choices dealing with recipes -->
  <ol>
    <li><a href="#">Recipes and their Authors</a></li>
    <li><a href="#">Recipes and their Ingredients</a></li>
    <li><a href="#">Recipes and All Information</a></li>
    <li><a href="/recipes_where">Filter Recipes</a></li>
  </ol>
</div>
{% endblock %}
