<!-- File represents the Get Statistics page of the website -->
{% extends 'base.html' %}

<!-- Set the title of the page -->
{% block title %}Get Recipe Statistics{% endblock %}

<!-- Start of content definition -->
{% block content %}

<div class="container">
  <!-- The menu of choices dealing with data visualization -->
  <ol>
    <li><a href="#">Author Vs. Average Recipe Rating</a></li>
    <li><a href="#">Recipe Rating Distribution</a></li>
    <li><a href="#">Calories by Difficulty Level</a></li>
    <li><a href="stat_queries">More Statistical Queries</a></li>
  </ol>
</div>

{% endblock %}
